@use "base/mixins" as m;
@use "base/variables" as v;

.about {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    color: v.$grisOscuro;
    text-align: center;
    line-height: 3rem;

    span {
      font-weight: bold;
    }
  }
}
