@use "base/variables" as v;
@use "base/mixins" as m;

.home {
  background-color: v.$primario;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0;

  @include m.tablet {
    gap: 10rem;
    padding: 10rem 0;
  }

  &__heading {
    color: v.$blanco;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    font-size: 3.2rem;
    margin: 0;
    width: 90%;

    @include m.tablet {
      font-size: 4rem;
      width: 70%;
    }
  }
  &__text {
    color: v.$blanco;
    line-height: 150%;
    font-size: 1.6rem;
    width: 90%;

    @include m.tablet {
      font-size: 2rem;
      width: 50%;
    }
  }
}
