@use "variables" as v;

/** Media Queries **/
@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin boton($color, $texto) {
  background-color: $color;
  font-size: 2rem;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  font-weight: 700;
  display: block;
  width: 100%;
  text-align: center;
  color: $texto;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: darken($color, 10);
  }

  @include tablet {
    width: auto;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton {
  display: block;
  width: 100%;
  text-align: center;
  background-color: v.$secundario;
  padding: 2rem;
  text-transform: uppercase;
  color: v.$blanco;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: 0.6rem;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: darken(v.$secundario, 5%);
    transition-property: background-color;
    transition-duration: 0.3s;
  }
}

@mixin heading {
  color: v.$primario;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;

  &::after {
    content: "";
    display: block;
    margin: 2rem auto 0 auto;
    width: 30%;
    height: 1rem;
    background-color: v.$secundario;
    border-radius: 1rem;
  }
}
