@use "base/mixins" as m;
@use "base/variables" as v;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include m.desktop {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  &__logo {
    width: 5rem;

    @include m.tablet {
      width: 8rem;
    }
  }

  &__menu-icon {
    img {
      width: 4rem;
    }
    @include m.tablet {
      display: none;
    }
  }
}

.navegacion {
  display: none;
  @include m.tablet {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  &__link {
    @include m.tablet {
      text-transform: uppercase;
      font-size: 2rem;
      color: v.$primario;
      font-weight: bold;
      letter-spacing: 0.3rem;
      padding: 1rem;
      border-radius: 0.5rem;
    }

    &:hover {
      background-color: v.$primario;
      color: v.$blanco;
      transition-property: background-color, color;
      transition-duration: 0.3s;
    }
  }
}
